<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communis.www.repository.PillImgDAO">

    <select id="getImgList" resultType="com.communis.www.domain.PillImgVO">
        SELECT * FROM pill_image 
        WHERE pill_id = #{pillId} 
        AND pill_img_status = 'Y'
    </select>
    
    <insert id="insertFile">
    	INSERT INTO pill_image (pill_img_id, pill_img_save_dir, pill_img_name, pill_img_type, pill_img_size, pill_id )
		VALUES (#{pillImgId}, #{pillImgSaveDir}, #{pillImgName}, #{pillImgType}, #{pillImgSize}, #{pillId})
    </insert>
    
    <update id="updateFile">
    	UPDATE TABLE pill_image
    	pill_img_id = #{pillImgId},
    	pill_img_save_dir = #{pillImgSaveDir},
    	pill_img_name = #{pillImgName},
    	pill_img_type = #{pillImgType},
    	pill_img_size = #{pillImgSize},
    	WHERE pill_id = #{pillId}
    </update>
    
    <delete id="removeFile">
    	UPDATE pill_image SET
		pill_img_status = 'N'
		WHERE pill_img_id = #{pillImgId}
    </delete>
    
    <delete id="deleteAll">
    	UPDATE pill_image SET
		pill_img_status = 'N'
		WHERE pill_id = #{pillId}
    </delete>

</mapper>