<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communis.www.repository.MenuDAO">

	<insert id="insert">
	    INSERT INTO pill (item_name, entp_name, efcy_qesitm, thumbnail)
        VALUES (#{itemName}, #{entpName}, #{efcyQesitm}, #{thumbnail})
	</insert>
	
	<select id="findByItem" resultType="int">
		SELECT COUNT(*) FROM pill
		WHERE item_name = #{itemName}
		AND entp_name = #{entpName}
	</select>
	
	<select id="getList" resultType="com.communis.www.domain.PillVO">
		SELECT * FROM pill
		<include refid="search"></include>
		ORDER BY pill_id DESC
		LIMIT #{startPage}, #{qty}
	</select>
	
	<select id="totalCount" resultType="int">
	    SELECT COUNT(pill_id) FROM pill
	    <include refid="search"></include>
	</select>
	
	<sql id="search">
		<if test="type != null">
			<trim prefix="WHERE (" suffix=")" prefixOverrides="OR">
				<foreach collection="typeToArray" item="type">
					<trim prefix="or">
						<choose>
							<when test="type == 'p'.toString()">
								item_name LIKE CONCAT('%', #{keyword}, '%')
							</when>
							<when test="type == 'e'.toString()">
								entp_name LIKE CONCAT('%', #{keyword}, '%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>

	
</mapper>